extends layout

block content
    div(class="banner container-fluid")
        div(class="welcome-container")
            div(class="outer-container")
                div(class="h2 info") Welcome To 
                    span(class="title") Montflix
                    | .
                p(class="card-text subtitle") More than just movies and Tv shows. Explore Now.
