doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css")
        link(rel="stylesheet", href="https://cdn.lineicons.com/2.0/LineIcons.css")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js")
        script(src="/js/app.js" defer) 
        title Montflix
    body
        nav(class="navbar navbar-expand-lg navbar-light bg-color")
            div(class="container-fluid")
                a(class="navbar-brand " href="/" id="text-color") Montflix 🍿 
                button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation")
                    span(class="navbar-toggler-icon")
                div(class="collapse navbar-collapse" id="navbarNavDropdown")
                    ul(class="navbar-nav")
                        li(class="nav-item dropdown")
                            a(class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false") Movies
                            ul(class="dropdown-menu")
                                li
                                    a(class="dropdown-item drop-color" href="#") Popular
                                li
                                    a(class="dropdown-item drop-color" href="#") Now Playing
                                li
                                    a(class="dropdown-item drop-color" href="#") Upcoming
                                li
                                    a(class="dropdown-item drop-color" href="#") Top Rated
                        li(class="nav-item dropdown")
                            a(class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false") Tv Shows
                            ul(class="dropdown-menu")
                                li
                                    a(class="dropdown-item drop-color" href="#") Popular
                                li
                                    a(class="dropdown-item drop-color" href="#") Airing Today
                                li
                                    a(class="dropdown-item drop-color" href="#") On Tv
                                li
                                    a(class="dropdown-item drop-color" href="#") Top Rated
    block content
    block foot
        div(class="footer text-center tv-text-color")
            div(class="card-text tag-info") Made with love 😊❤💯, @Am.Chris.
            div(class="card-text tag-info") Special thanks to the 
                a(href="https://www.themoviedb.org/" class="api-name") The Movie DB  
                |  for their API.
            div(class="card-text mt-3")
                div(class="intro h3 tag-info") Get In Touch.
                div(class="social-icons")
                    a(href="https://christopherodhiambo254@gmail.com/")
                        div(class="avatar-icon text-center avatar-icon-ml")
                            i(class="fas fa-envelope text-primary mt-3 icon-inc-size")
                    a(href="https://github.com/DevHumbleChris")
                        div(class="avatar-icon text-center avatar-icon-ml")
                            i(class="fab fa-github text-primary mt-3 icon-inc-size")
                    a(href="https://twitter.com/AmChrisKE")
                        div(class="avatar-icon text-center avatar-icon-ml")
                            i(class="fab fa-twitter text-primary mt-3 icon-inc-size")
                    a(href="https://www.linkedin.com/in/dev-humble-chris-2870331aa/")
                        div(class="avatar-icon text-center avatar-icon-ml")
                            i(class="fab fa-linkedin-in text-primary mt-3 icon-inc-size")
                    a(href="https://www.facebook.com/profile.php?id=100011196098630")
                        div(class="avatar-icon text-center avatar-icon-ml")
                            i(class="fab fa-facebook-f text-primary mt-3 icon-inc-size")