/* @ Google Fonts. */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Big+Shoulders+Display:wght@800&family=Chango&family=Fascinate+Inline&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:#FBF8D7;
}

.bg-color{
    background: #18223C;
}
.drop-color, #navbarDropdownMenuLink{
    color: #06F9BA;
}
#text-color{
    font-size: 28px;
    color: #06F9BA;
    font-family: 'Fascinate Inline', cursive;
}
.banner {
    width: 100%;
    height: 45vh;
    opacity: 0.9;
}
.movie-detail-banner{
    width: 100%;
    height: 50vh;
}

.welcome-container{
    padding: 10px;
    margin-left: 10px;
}
.outer-container{
    margin-top: 70px;
}
.title{
    color: #06F9BA;
    font-family: 'Fascinate Inline', cursive;
}
.info, .subtitle{
    color: white;
}
.info{
    font-family: 'Chango', cursive;
}
.subtitle{
    font-family: 'Anton', sans-serif;
}
.input-search{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#basic-addon2{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
/* .form{
    width: 70%;
} */
.popular-tag,.tag-info{
    font-family: 'Ubuntu', sans-serif;
}
.popular-tag{
    color: red;
}
.whatsPopularInTheatres, .whatsPopularOnTv, .latestTrailersInTheatres{
    padding: 15px;
    /* background: red; */
}
.whatsPopularOnTv{
    background-color: #18223C;
}
.flex-items{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height: 320px;
    padding: 7px;
}
.movie-card{
    padding: 5px;
    border-radius: 10px;
    margin-left: 10px;
}
.movie-img-card{
    width: 150px;
}
.decoration-none{
    text-decoration: none;
}
.movie-img-card img{
    width: 100%;
    border-radius: 10px;
}
.flex-items::-webkit-scrollbar-button{
    background-color: green;
}
.movie-title, .movie-release-date{
    font-size: 12px;
    font-family: 'Big Shoulders Display', cursive;
}
.on-tv-text-color, .tv-text-color{
    color: #06F9BA;
}

/* @ Media Queries */

@media only screen and (max-width: 480px){
    .form{
        width: 100%
    }
    .flex-items::-webkit-scrollbar{
        width: 0px;
    }
}