/* @ Google Fonts. */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Big+Shoulders+Display:wght@800&family=Chango&family=Fascinate+Inline&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Titillium+Web&family=Truculenta:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:#FBF8D7;
}

.bg-color{
    background: #18223C;
}
.drop-color, #navbarDropdownMenuLink{
    color: #06F9BA;
}
.social-media{
    /* background-color: rebeccapurple; */
    width: 60px;
    padding: 5px;
    position: fixed;
    top: 40%;
    right: 0;
    margin-right: 10px;
    margin-bottom: 10px;
}
.icon-div {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    margin-top: 10px;
}
.mt-icon{
    font-size: 20px;
    margin-top: 5px;
}
.facebook{
    color: #1877F2;
}
.twitter{
    color: #1DA1F2;
}
.linkedin{
    color: #0A66C2;
}
.github{
    color: #04285E;
}
.emoji-react{
    font-size: 20px;
}
.icon-changer {
    cursor: pointer;
}
.fb, .twi, .git, .in{
    display: none;
}
#text-color{
    font-size: 28px;
    color: #06F9BA;
    font-family: 'Fascinate Inline', cursive;
}
.banner {
    width: 100%;
    height: 45vh;
}
.movie-detail-banner, .tv-detail-banner{
    width: 100%;
    height: 40vh;
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.movie-img{
    width: 150px;
    
}
.currentSeasonInfo{
    padding: 20px;
    margin-left: 10px;
}
.movie-img img{
    width: 100%;
    border-radius: 10px;
}
.movie-info{
    background: #0F152D;
    padding: 20px;
    color: white;
}
.movie-detail-title{
    font-family: 'Anton', sans-serif;
    font-size: 30px;
}
.genres-time{
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}
.video-movie-links{
    height: 60px;
    display: flex;
    flex-wrap: row-wrap;
    align-content: center;
    justify-content: center;
}
.avatar-icon{
    vertical-align: middle;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
}
.margin-ryt{
    margin-left: 10px;
}
.tagline,.overview-description {
    font-family: 'Truculenta', sans-serif;
    font-size: 16px;
}
.overview{
    font-family: 'Anton', sans-serif;
    font-size: 20px;
}
.welcome-container{
    padding: 10px;
    margin-left: 10px;
}
.outer-container{
    margin-top: 70px;
}
.title{
    color: #06F9BA;
    font-family: 'Fascinate Inline', cursive;
}
.info, .subtitle{
    color: white;
}
.info{
    font-family: 'Chango', cursive;
}
.subtitle{
    font-family: 'Anton', sans-serif;
}
.input-search{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#basic-addon2{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.popular-tag,.tag-info{
    font-family: 'Ubuntu', sans-serif;
}
.popular-tag{
    color: red;
}
.whatsPopularInTheatres, .similarMovies ,.whatsPopularOnTv, .latestTrailersInTheatres, .topMoviesBilledCast, .topTvBilledCast, .topTvCrewCast, .currentSeason{
    padding: 15px;
    /* background: red; */
}
.whatsPopularOnTv, .topMoviesBilledCast, .topTvBilledCast, .error-div, .currentSeason{
    background-color: #18223C;
}
.currentSeasonInfo{
    color: white;
}
.flex-items{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height: 320px;
    padding: 7px;
}
.tvCast{
    height: 330px;
}
.movie-card{
    padding: 5px;
    border-radius: 10px;
    margin-left: 10px;
}
.movie-img-card{
    width: 150px;
}
.decoration-none{
    text-decoration: none;
}
.movie-img-card img{
    width: 100%;
    border-radius: 10px;
}
.flex-items::-webkit-scrollbar-button{
    background-color: green;
}
.movie-title, .movie-release-date{
    font-size: 12px;
    font-family: 'Big Shoulders Display', cursive;
}
.on-tv-text-color, .tv-text-color{
    color: #06F9BA;
}
.footer{
    height: 180px;
    background: #18223C;
}
.social-icons{
    padding: 10px;
    display: flex;
    flex-wrap: row-wrap;
    align-content: center;
    justify-content: center;
}
.avatar-icon-ml{
    margin-left: 10px;
}
.icon-inc-size{
    font-size: 23px;
}
.api-name{
    text-decoration:none;
}
.error-div{
    width: 30rem;
    margin: auto;
    padding: 10px;
    margin-top: 60px;
    border-radius: 10px;
}
.error-img{
    width: 29rem;
}
.error-img img {
    width: 100%;
    border-radius: 10px;
}
.message{
    padding: 10px;
}

/* @ Media Queries */

@media only screen and (max-width: 480px){
    .form{
        width: 100%
    }
    .movie-detail-banner, .tv-detail-banner{
        width: 100%;
        height: 45vh;
        padding: 20px;
        flex-wrap: no-wrap;
    }
    .movie-detail-title{
        font-size: 20px;
    }
    .error-div{
        width: 25rem;
    }
    .error-img{
        width: 24rem;
    }
    .unflex{
        flex-direction: column;
        overflow-x: none;
        overflow-y: auto;
        align-items: center;
    }
    .currentSeasonName, .yearNEpisodesCount, .responsiveCenter{
        text-align: center;
    }
}